
button {
  cursor: pointer;
  border: none;
}
.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
  width: 100vw;
}
.Header {
  width: 100%;
}
.Navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f9f9ee;
  height: 80px;
  width: 100%;
}
.Navbar a {
	display: flex;
	align-items: center;
	justify-content: right;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.Navbar a.Link {
  /* background-color: yellow; */
  justify-content: left;
}
.Navbar a:hover {
  background-color: rgba(182, 241, 241, 0.404);
}
.Navbar .header-name {
  font-family: akagi-pro;
}
.Navbar #header-dot {
  font-size: 14px;
}
.Main {
  height: 1800px;
  background-color: #f4f41496;
  padding: 30px 100px;
}
.Tech {
  background-color: rgb(122, 122, 245);
}
.TechHome {
  display: flex;
  justify-content: space-between;
}
.TechHome button {
  /* border: 1px solid rebeccapurple; */
  width: 100%;
}
.TechHome button:hover {
  background-color: yellow;
}
.Art {
  background-color: rgb(236, 160, 173);
}
#resume_link button {
  padding: 10px 20px;
}
#pesci_pic {
  cursor: pointer;
}
.resume_row {
  /* outline: 1px dashed red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
